@import url("https://fonts.cdnfonts.com/css/futura-lt-paneuropean");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background: #eeeff4;
}

h1 {
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 98px;
  font-style: normal;
  font-weight: 700;
  line-height: 89%;
}

h2 {
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.flex {
  display: flex !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.img-responsive {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mt-25 {
  margin-top: 25px;
}

.btn-p {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  background: #022734;
}
.btn-p:hover {
  padding: 22px 40px 18px 40px;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8) inset;
}

.btn-bdr {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 19px;
  border: 1px solid #a8aaae;
  color: #2a4176;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  transition: all 300ms ease-in-out;
}
.btn-bdr:hover {
  border: 1px solid #6f8bc4;
  background: #f4f9ff;
  transition: all 300ms ease-in-out;
}

.navbar .nav-wraps {
  padding: 15px 60px;
}
.navbar .nav-wraps .main-nav {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
}
.navbar .nav-wraps .main-nav .nav-logo {
  display: flex;
}
.navbar .nav-wraps .main-nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-wraps .main-nav .nav-list li a {
  color: #777779;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar .nav-wraps .main-nav .contact-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}
.navbar .nav-wraps .main-nav .contact-details .phone a {
  color: #000;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popups {
  display: none;
}
.popups .contact-popup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popups .contact-popup .popup-wrap {
  position: relative;
  display: flex;
  padding: 80px 50px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #f4f9ff;
  border-radius: 50px;
}
.popups .contact-popup .popup-wrap .cross {
  position: absolute;
  top: 25px;
  right: 22px;
  cursor: pointer;
}
.popups .contact-popup .popup-wrap h2 {
  color: #294075;
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popups .contact-popup .popup-wrap h3 {
  color: #000;
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popups .contact-popup .popup-wrap h4 {
  color: #000;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popups .contact-popup .popup-wrap .btns-wraps {
  display: flex;
  gap: 38px;
}

.main {
  position: relative;
  background: #eeeff4;
  padding-top: 15px;
  padding-bottom: 26px;
  z-index: 1;
}
.main .hand {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}
.main .main-wraps {
  position: relative;
  padding: 0px 60px 0px 83.619px;
  z-index: 1;
}
.main .main-wraps .down-arrow {
  position: absolute;
  bottom: 18px;
  right: 60px;
}
.main .main-wraps .ball1 {
  position: absolute;
  bottom: 12px;
  right: 162px;
  z-index: -1;
}
.main .main-wraps .ball2 {
  position: absolute;
  top: 37%;
  right: 36%;
  z-index: -1;
}
.main .main-wraps .ball3 {
  position: absolute;
  top: 105px;
}
.main .main-wraps .ball4 {
  position: absolute;
  top: 13px;
  right: 96.36px;
  z-index: -1;
}
.main .main-topic {
  width: 855px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-topic span {
  color: #2a4176;
  text-align: center;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 52px */
}
.main .main-topic h1 {
  color: #2a4176;
  text-align: center;
}
.main .main-content-wraps {
  margin-top: 40px;
  display: flex;
  width: 518px;
  align-items: flex-start;
  gap: 30px;
}
.main .main-content {
  display: flex;
  padding: 28px 0px 0px 22px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex: 1 0 0;
}
.main .main-content p {
  color: #a9abaf;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.pagination-wraps {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 293px;
}
.pagination-wraps .num {
  color: #022734;
  text-align: center;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.pagination-wraps .num.last {
  margin-top: 4px;
}
.pagination-wraps .line {
  position: relative;
  width: 2.116px;
  height: 100%;
  background: #a8aaae;
}
.pagination-wraps .line:before {
  content: "";
  position: absolute;
  width: 7.405px;
  height: 60px;
  background: #022734;
  top: -4px;
  left: -2.95px;
}
.pagination-wraps.second .line:before {
  top: 30px;
}
.pagination-wraps.third {
  margin-top: 117px;
}
.pagination-wraps.third .line:before {
  top: 82px;
}

.our-clients .client-wraps {
  padding-left: 60px;
}
.our-clients .client-wraps .clients-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.our-clients .client-wraps .clients-grid .clents-content-wraps {
  display: flex;
  align-items: flex-end;
  gap: 50.84px;
  padding-left: 25px;
  padding-top: 37px;
  padding-bottom: 70px;
}
.our-clients .client-wraps .clients-grid .clients-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.our-clients .client-wraps .clients-grid .clients-details h2 {
  color: #294075;
}
.our-clients .client-wraps .clients-grid .clients-details p {
  color: #9c9c9c;
  line-height: 24px; /* 150% */
}
.our-clients .client-wraps .clients-grid .clients-details .btn-p {
  margin-top: 40px;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps {
  width: 850px;
  margin-left: auto;
  display: flex;
  padding: 50px 60px 50px 30px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 20px;
  flex: 1 0 0;
  flex-wrap: wrap;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps .logos {
  position: relative;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps .logos:nth-last-child(1) {
  opacity: 0;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps .logos:hover img:nth-child(1) {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps .logos:hover img:nth-child(2) {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps .logos img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.our-clients .client-wraps .clients-grid .clients-logos-wraps .logos img:nth-child(2) {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.our-clients .business-purpose-sec {
  padding-top: 165px;
  padding-bottom: 137px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-clients .business-purpose-sec .logo-vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.our-clients .business-purpose-sec h3 {
  color: #294075;
  text-align: center;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 36px */
}
.our-clients .business-purpose-sec h2 {
  color: #294075;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.project-pop {
  display: none;
}
.project-pop .project-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.project-pop .project-popup .project-pop-wraps {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  background: #fff;
  display: flex;
  width: 760px;
  padding: 0px 30px 40px 30px;
}
.project-pop .project-popup .project-pop-wraps .cross {
  position: absolute;
  top: 12px;
  right: 8.2px;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps {
  padding-top: 85px;
  padding-left: 54px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .topic span {
  color: #000;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .topic h2 {
  color: #000;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .listed-paragraph span {
  color: #565656;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .listed-paragraph ul {
  padding-left: 30px;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .listed-paragraph ul li {
  list-style: disc;
  color: #565656;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .listed-paragraph ul li span {
  color: #565656;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.project-pop .project-popup .project-pop-wraps .project-content-wraps .project-paragraph p {
  color: #565656;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
.project-pop .project-popup .project-pop-wraps .btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-pop .project-popup .project-pop-wraps .scroll-wraps {
  height: 628px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 36px 80px;
  overflow-y: scroll;
}

.neuro-sec {
  padding-top: 38px;
  padding-bottom: 146px;
}
.neuro-sec .neuro-wraps {
  padding-left: 95px;
}
.neuro-sec .neuro-wraps .whole-neuro-wraps {
  position: relative;
  display: flex;
}
.neuro-sec .neuro-wraps .whole-neuro-wraps .dots {
  position: absolute;
  bottom: -77px;
  left: 145px;
  display: flex;
  gap: 13px;
}
.neuro-sec .neuro-wraps .whole-neuro-wraps .ellipse1 {
  position: absolute;
  bottom: -145px;
  right: 24px;
}
.neuro-sec .neuro-wraps .neuro-feature-grid {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 150px 0px 0px 0px;
  background: #f4f9ff;
  padding-right: 100px;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .eye {
  position: absolute;
  bottom: 0;
  left: 0;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .topic {
  padding-top: 102px;
  padding-left: 126px;
  display: flex;
  width: 457px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .topic h2 {
  color: #294075;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid {
  margin-top: 22px;
  padding: 0px 67px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 22px;
  row-gap: 33px;
  align-items: flex-start;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card {
  display: flex;
  width: 236px;
  padding: 30px 11px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 40px;
  border: 3px solid rgba(0, 0, 0, 0);
  background: #fff;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.05);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  margin-bottom: -13px;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card .icon-wraps {
  display: flex;
  border-radius: 17px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card h4 {
  color: #000;
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card p {
  color: #757575;
  text-align: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card:hover {
  border-radius: 40px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 5px 50px 0px rgba(61, 114, 125, 0.2);
  transition: all 300ms ease-in-out;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card:hover .icon-wraps {
  border-radius: 30px;
  transition: all 300ms ease-in-out;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card:nth-child(even) {
  margin-top: -60px;
}
.neuro-sec .neuro-wraps .neuro-feature-grid .features-grid .feature-card:nth-child(3) {
  margin-top: 5px;
}

.footer .footer-wraps {
  padding: 68px 110px 63px 132px;
}
.footer .footer-wraps .footer-main {
  display: flex;
}
.footer .footer-wraps .footer-main .footer-list {
  display: flex;
  width: 100%;
  padding: 0px 0px 0px 89px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 74px;
  flex-wrap: wrap;
}
.footer .footer-wraps .footer-main .footer-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 10px 30px;
}
.footer .footer-wraps .footer-main .footer-list li a {
  color: #424242;
  text-align: center;
  font-family: "Futura LT Paneuropean", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */